
body {
    background-color: peachpuff
    }

    {
        line-height: 1.9em;
    }
    
    div {
        border-style: solid;

        font-size: large;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
  